DOCKERCONFDIR=
DOCKERSTORAGEDIR=
DOCKERLOGGING_MAXFILE=
DOCKERLOGGING_MAXSIZE=
LAN_IP=
TZ=
PUID=
PGID=
VPN_ENABLED=
VPN_USER=
VPN_PASS=
VPN_PROV=
STRICT_PORT_FORWARD=
ENABLE_PRIVOXY=
DELUGE_DAEMON_LOG_LEVEL=
DELUGE_WEB_LOG_LEVEL=
VPN_OPTIONS=
LAN_NETWORK=
NAME_SERVERS=
VPN_CLIENT=
PROWLARR_DB_PASSWORD=
